# Auth can be skipped entirely, assuming you have another authorization mechanism in place.
# Modules are pluggable, each module having specific options. For now only Github is supported
# Note: GITHUB_CLIENT_ID and GITHUB_CLIENT_SECRET must be set in env
auth:
  module: auth/github
  options:
    callback: /gh/callback # set this in your app settings
    # orgId: 123 # require user to be member of this org
    # teamIds: [42] # require user to be in at least one of these teams

# PKI settings, adjust according to your easy-rsa setup. Only path is required, paths to individual
# files can be customized. Defaults are shown below
easyrsa: /etc/openvpn/easyrsa
pki:
  path: /etc/openvpn/pki
  # cakey: /etc/openvpn/pki/private/ca.key
  # cacert: /etc/openvpn/pki/ca.crt
  # index: /etc/openvpn/pki/index.txt
  # index: /etc/openvpn/pki/serial
  # dh: /etc/openvpn/pki/dh.pem

# Multiple endpoints are supported, each with their own .ovpn template. Some placeholders will be
# substituted, but this is not a templating engine.
endpoints:
  my-vpn:
    keysize: 2048
    suffix: my-vpn
    ovpn: |
      client
      nobind
      dev tun
      <key>
      {{privateKey}}
      </key>
      <cert>
      {{certificate}}
      </cert>
      <ca>
      {{ca}}
      </ca>
      <dh>
      {{dh}}
      </dh>
      <connection>
      remote 0.0.0.0 443 udp
      </connection>
