sso:
  api: https://mysso.example.org
  cookie: SSO
pki:
  cakey: /etc/openvpn/pki/private/ca.key
  cacert: /etc/openvpn/pki/ca.crt
  dh: /etc/openvpn/pki/dh.pem
  path: /etc/openvpn/pki
endpoints:
  my-vpn:
    keysize: 2048
    suffix: my-vpn
    ovpn: |
      client
      nobind
      dev tun
      <key>
      {{privateKey}}
      </key>
      <cert>
      {{certificate}}
      </cert>
      <ca>
      {{ca}}
      </ca>
      <dh>
      {{dh}}
      </dh>
      <connection>
      remote 0.0.0.0 443 udp
      </connection>
