<div class="container" id="app">

  <div class="row">
    <div class="col-md-12">
      <div id="warnings">
      </div>
    </div>
  </div>

  <div class="row" id="settings-form-container">
    <div class="col-md-6">
      <div>
        <h1>OpenVPN Config</h1>
        <p>
          Select endpoint to generate the config for and optionally provide a passphrase below.
          You will be able to download the generated config file at any time, however, the 
          passphrase cannot be retrieved later.
        </p>
      </div>
      <div>
        <form id="settings-form">

          <div class="form-group">
            <label for="pass">VPN Endpoint</label>
            <select id="select-endpoint" class="form-control">
              {{#each endpoints}}
              <option value="{{name}}">{{name}}</option>
              {{/each}}
            </select>
          </div>

          <div class="form-group">
            <label for="pass">Common Name</label>
            <input type="text" class="form-control" id="input-name" placeholder="Common Name" value="{{username}}">
          </div>

          <div class="form-group">
            <label for="pass">Passphrase</label>
            <input type="password" class="form-control" id="input-password" placeholder="Passphrase">
            <span id="password-strength" class="help-block"></span>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary" disabled="disabled" id="submit-generate">
              Generate Credentials
            </button>
            <span id="wait-please">Please wait ...</span>
          </div>

        </form>
      </div>
      <div id="download-section" class="panel panel-default">
        <div class="download-wrapper panel-body">
          <img src="/assets/openvpn.jpg" class="openvpn-logo"/>
          <a id="download-link" href="">Download OpenVPN Config</a>
        </div>
      </div>
    </div>
  </div>

</div>
<script src="/assets/app.js" ></script>
